.ipynb_checkpoints/*
service-account.json
.gitcookies
*.pdf
**/__pychache__
*.pyc
*.ipynb
.ipynb_checkpoints/*
.venv*
venv
.idea
.prefect
.pytest_cache
.DS_Store
prefect_helper
__pycache__
*.egg-info/
*.egg/
dist/
build/
backfill.py
